.vscode/

# backend
backend/node_modules
backend/.env
backend/public/images/client
backend/public/pdf
backend/public/properties

# Miscellaneous
frontend/*.class
frontend/*.lock
frontend/*.log
frontend/*.pyc
frontend/*.swp
frontend/.DS_Store
frontend/.atom/
frontend/.buildlog/
frontend/.history
frontend/.svn/

# IntelliJ related
frontend/*.iml
frontend/*.ipr
frontend/*.iws
frontend/.idea/

# Visual Studio Code related
frontend/.classpath
frontend/.project
frontend/.settings/
frontend/.vscode/
.vscode/

# Flutter repo-specific
frontend//bin/cache/
frontend//bin/internal/bootstrap.bat
frontend//bin/internal/bootstrap.sh
frontend//bin/mingit/
frontend//dev/benchmarks/mega_gallery/
frontend//dev/bots/.recipe_deps
frontend//dev/bots/android_tools/
frontend//dev/devicelab/ABresults*.json
frontend//dev/docs/doc/
frontend//dev/docs/flutter.docs.zip
frontend//dev/docs/lib/
frontend//dev/docs/pubspec.yaml
frontend//dev/integration_tests/**/xcuserdata
frontend//dev/integration_tests/**/Pods
frontend//packages/flutter/coverage/
frontend/version
frontend/analysis_benchmark.json

# packages file containing multi-root paths
frontend/.packages.generated

# Flutter/Dart/Pub related
frontend/**/doc/api/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/**/generated_plugin_registrant.dart
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/flutter_*.png
frontend/linked_*.ds
frontend/unlinked.ds
frontend/unlinked_spec.ds
frontend/*.keystore

# Android related
frontend/**/android/**/gradle-wrapper.jar
frontend/**/android/.gradle
frontend/**/android/captures/
frontend/**/android/gradlew
frontend/**/android/gradlew.bat
frontend/**/android/local.properties
frontend/**/android/**/GeneratedPluginRegistrant.java
frontend/**/android/key.properties
frontend/*.jks

# iOS/XCode related
frontend/**/ios/**/*.mode1v3
frontend/**/ios/**/*.mode2v3
frontend/**/ios/**/*.moved-aside
frontend/**/ios/**/*.pbxuser
frontend/**/ios/**/*.perspectivev3
frontend/**/ios/**/*sync/
frontend/**/ios/**/.sconsign.dblite
frontend/**/ios/**/.tags*
frontend/**/ios/**/.vagrant/
frontend/**/ios/**/DerivedData/
frontend/**/ios/**/Icon?
frontend/**/ios/**/Pods/
frontend/**/ios/**/.symlinks/
frontend/**/ios/**/profile
frontend/**/ios/**/xcuserdata
frontend/**/ios/.generated/
frontend/**/ios/Flutter/.last_build_id
frontend/**/ios/Flutter/App.framework
frontend/**/ios/Flutter/Flutter.framework
frontend/**/ios/Flutter/Flutter.podspec
frontend/**/ios/Flutter/Generated.xcconfig
frontend/**/ios/Flutter/ephemeral
frontend/**/ios/Flutter/app.flx
frontend/**/ios/Flutter/app.zip
frontend/**/ios/Flutter/flutter_assets/
frontend/**/ios/Flutter/flutter_export_environment.sh
frontend/**/ios/ServiceDefinitions.json
frontend/**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
frontend/**/macos/Flutter/GeneratedPluginRegistrant.swift

# windows & linux genereted plugins
frontend/**generated_plugin*

# Coverage
frontend/coverage/

# Symbols
frontend/app.*.symbols

# Exceptions to above rules.
frontend/!**/ios/**/default.mode1v3
frontend/!**/ios/**/default.mode2v3
frontend/!**/ios/**/default.pbxuser
frontend/!**/ios/**/default.perspectivev3
frontend/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
frontend/!/dev/ci/**/Gemfile.lock